#side-panel {
    height: 100%;
    padding-bottom: 48px;
}

#side-panel #accordion {
    height: 100%;
    overflow-y: scroll;
    border-left: 1px solid #dddddd;
}

#side-panel-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 48px;
    padding: 12px;
    font-size: 12px;
    padding-right: 30px;
    padding-left: 20px;
    border-top: 1px solid #dddddd;
    cursor: pointer;
    background-color: #414042;
    color: white;
}

#side-panel-footer a {
    text-decoration: none;
    color: white;
    font-family: 'Leto', sans-serif;
}

#side-panel-footer a:hover {
    opacity: 0.5;
}


#side-panel-footer img {
    height: 100%;
}

#side-panel input[type='checkbox'] {
    cursor: pointer;
}

#side-panel .panel-heading {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    border-collapse: collapse;
}

#side-panel .panel-collapse {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#side-panel .inner-panel {
    padding: 10px 15px;
}

#side-panel .panel-heading:hover {
    opacity: 0.5;
}

#side-panel .panel {
    margin-top: -1px;
}

#side-panel .panel-heading:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

#side-panel .panel-heading.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";
}

#side-panel .panel-group {
    margin-bottom: 0;
}

#side-panel .loading {
    opacity: 0.6;
}

#side-panel .panel-option:hover, #side-panel .panel-heading.collapsed:hover {
    background-color: #f5f5f5;
}

#side-panel .panel-option, #side-panel .panel-heading.collapsed {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    color: black;
}

#all-filters .panel-option {
    padding: 0 !important;
}

#side-panel .disabled {
    pointer-events: none !important;
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

#draw-flood-form, #upload-flood-form-wrapper {
    padding: 10px 30px !important;
}

#side-panel .panel-heading.collapsed {
    border-bottom: 1px solid #ddd;
}

.form-control {
    margin-bottom: 5px;
}

form input, form select {
    border: 1px solid #6D6E71 !important;
    border-radius: 4px !important;
    height: 30px !important;
}

form label {
    font-weight: normal;
    font-size: 10pt;
}
