<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>fbf project</title>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href="js/libs/leaflet/1.5.1/leaflet.css" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="js/libs/leaflet.draw/1.0.4/leaflet.draw.css" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="js/libs/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="js/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="js/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="js/libs/airdatepicker/css/datepicker.min.css" rel="stylesheet" type="text/css">
    <link href="css/dashboard.css" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="css/side-panel.css" rel="stylesheet" type="text/css" media="screen, projection"/>
</head>

<body>
<div class="flex-item">
    <div class="intro" id="intro">
        <div class="intro-content"></div>
        <div class="intro-action">
            <button class="btn btn-warning prev-intro" type="button">Back</button>
            <button class="btn btn-warning next-intro" type="button">Next</button>
        </div>
    </div>
    <div id="map"></div>
</div>
<div class="flex-item" style="position: relative; overflow: hidden; z-index: 10000">
    <div id="side-panel">
        <div class="panel-group" id="accordion">
            <div class="panel-body-wrapper panel-body panel-welcome">
                <div class="panel-title">
                    Welcome to FBF
                </div>
                <div class="panel-body" style="text-align: justify; overflow-y: auto;">
                    <div id="flood-summary">
                        <div id="flood-count" class="flood-count" style="background-color: #A4FFF8">
                            <span id="flood-summary-trigger-status-all"><i class="fa fa-spinner fa-spin fa-fw"></i></span> Floods expected in the next 10 days</div>
                    </div>
                    <br>
					<p>Welcome to the InaSAFE Forcast Based Action dashboard.
					This site is our first prototype implementation for a 
					forecasted flood impact dashboard.</p>

					<p>To get started, use the green flood selector icon below to
					select a date (valid dates have circles around them) for
					a historical or forecast flood event.</p>
				    
					<p>This site is developed in collaboration with the <a href="https://www.climatecentre.org">
					Red Cross Red Crescent Climate Centre</a> with funding from
					the World Bank GFDRR Challenge Fund.</p>
                </div>
                <div class="panel-body">
                    <div class="row Infographics">
                        <div class="col-lg-2 landing-page-icon">
                            <img src="images/download-icon.svg">
                        </div>
                        <div class="col-lg-10 text-justify">
                            <span>
                                Click the download button on the top right of the flood summary to download the flood data.
                            </span>
                        </div>
                    </div>
                    <div class="row Infographics">
                        <div class="col-lg-2 landing-page-icon">
                            <img src="images/add-flood.svg">
                        </div>
                        <div class="col-lg-10 text-justify">
                            <span>
                                Click the Add flood button on the right side of the Nav bar to Add your flood layer.
                            </span>
                        </div>
                    </div>
                    <div class="row Infographics">
                        <div class="col-lg-2 landing-page-icon">
                            <img src="images/browse-icon.svg">
                        </div>
                        <div class="col-lg-10 text-justify">
                            <span>
                                Click the Browse Flood button on the bottom right of InaSAFE FBF to Browse Floods.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body-wrapper panel-body panel-flood-scenario" style="display: none">
                <button class="btn btn-back pull-left"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
                <div class="panel-title">
                    Add Flood Scenario
                </div>
                <div class="panel-body">
                    <button class="btn btn-warning btn-primary-1 btn-full-width" id="draw-flood">Draw Flood</button>
                    <button class="btn btn-warning btn-primary-1 btn-full-width" id="upload-flood">Upload Flood</button>
                    <button class="btn btn-warning btn-primary-1 btn-full-width" id="glofas" disabled>Latest GloFAS</button>
                    <button class="btn btn-warning btn-primary-1 btn-full-width" id="signature-flood" disabled>Latest Signature Flood Event</button>
                    <button class="btn btn-warning btn-primary-1 btn-full-width" id="existing-scenario-flood" disabled>Use Existing Scenario</button>
                </div>
            </div>
            <div class="panel-body-wrapper panel-body panel-flood-form" style="display: none">
                <div class="form-wrapper panel-draw-flood flood-form panel-body-subwrapper" style="display: none">
                    <button class="btn btn-back pull-left" id="cancel-draw"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
                    <div class="panel-title">
                        Draw Flood
                    </div>
                    <div id="draw-flood-form">
                        <form role="form" id="draw-form" enctype="multipart/form-data" class="form-horizontal">
                            <div class="form-group">
                                <label for="draw_place_name">Place name</label>
                                <input class="form-control" name="place_name" id="draw_place_name" type="text">
                                <label for="draw_event_notes">Event notes</label>
                                <input class="form-control" name="event_notes" id="draw_event_notes" type="text">
                                <label for="draw_return_period">Return period</label>
                                <select class="form-control" name="return_period" id="draw_return_period">
                                    <option value="0">Unspecified</option>
                                    <option value="1">1 year</option>
                                    <option value="5">5 years</option>
                                    <option value="10">10 years</option>
                                    <option value="20">20 years</option>
                                    <option value="100">100 years</option>
                                </select>
                                <label for="draw_depth_class">Depth Class</label>
                                <select class="form-control" name="depth_class" id="draw_depth_class">
                                    <option value="1">0 - 0.7m</option>
                                    <option value="2">0.7 - 1.5m</option>
                                    <option value="3">1.5 - 3.0m</option>
                                    <option value="4">3.0 or greater</option>
                                </select>
                                <div class="row">
                                    <div class="col-lg-6" style="padding-right: 5px">
                                        <label for="draw_acquisition_date">Acquisition date </label>
                                        <input class="form-control datepicker-here" data-language="en" data-timepicker="true" data-position="left bottom" type="text" name="acquisition_date" id="draw_acquisition_date" style="font-size: 10px;">
                                    </div>
                                    <div class="col-lg-6" style="padding-left: 5px">
                                        <label for="draw_forecast_date">Forecast date </label>
                                        <input class="form-control datepicker-here" data-language="en" data-timepicker="true" data-position="left bottom" type="text" name="forecast_date" id="draw_forecast_date" style="font-size: 10px;">
                                    </div>
                                </div>
                                <button type="submit" value="submit" class="btn btn-warning btn-primary-1 pull-right">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="form-wrapper panel-upload-flood flood-form panel-body-subwrapper" style="display: none">
                    <button type="reset" class="btn btn-back pull-left"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
                    <div class="panel-title">
                        Upload Flood
                    </div>
                    <div id="upload-flood-form-wrapper">
                        <form role="form" method="post" id="upload-flood-form" enctype="multipart/form-data" class="form-horizontal" action="javascript:void(0)">
                            <div class="form-group">
                                <label for="upload_place_name">Place name</label>
                                <input class="form-control" name="place_name" id="upload_place_name" type="text">
                                <label for="upload_source">Source</label>
                                <input class="form-control" name="source" id="upload_source" type="text">
                                <label for="upload_event_notes">Event notes</label>
                                <input class="form-control" name="event_notes" id="upload_event_notes" type="text">
                                <label for="upload_flood_model_notes">Flood model notes</label>
                                <input class="form-control" name="flood_model_notes" id="upload_flood_model_notes" type="text">
                                <label for="upload_source_url">Source url</label>
                                <input class="form-control" name="source_url" id="upload_source_url" type="text">
                                <label for="upload_geojson">Geojson</label>
                                <input class="form-control" name="geojson" id="upload_geojson" type="file">
                                <label for="upload_return_period">Return period</label>
                                <select class="form-control" name="return_period" id="upload_return_period">
                                    <option value="0">Unspecified</option>
                                    <option value="1">1 year</option>
                                    <option value="5">5 years</option>
                                    <option value="10">10 years</option>
                                    <option value="20">20 years</option>
                                    <option value="100">100 years</option>
                                </select>
                                <div class="row">
                                    <div class="col-lg-6" style="padding-right: 5px">
                                        <label for="upload_acquisition_date">Acquisition date </label>
                                        <input class="form-control datepicker-here" data-date-format="yyyy-mm-dd" data-time-format="hh:ii" data-language="en" data-timepicker="true" data-position="left bottom" type="text" name="acquisition_date" id="upload_acquisition_date" style="font-size: 10px;">
                                    </div>
                                    <div class="col-lg-6" style="padding-left: 5px">
                                        <label for="upload_forecast_date">Forecast date </label>
                                        <input class="form-control datepicker-here" data-date-format="yyyy-mm-dd" data-time-format="hh:ii" data-language="en" data-timepicker="true" data-position="left bottom" type="text" name="forecast_date" id="upload_forecast_date" style="font-size: 10px;">
                                    </div>
                                </div>
                                <br/>
                                <div  id="upload-progress-bar"  class="progress-status row">
                                    <div class="alert-info" style="text-align: center;">Uploading Flood Map</div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-info"></div>
                                    </div>
                                </div>
                                <button type="submit" value="submit" class="btn btn-warning btn-primary-1 pull-right">Upload</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel-body panel-browse-flood" style="display: none">
                <div class="panel-body-wrapper floating-panel">
                    <div class="panel-body-subwrapper panel-browse-by-forecast">
                        <div class="panel-header browse-header">
                            <div class="row">
                                <div class="col-lg-3">
                                    <img src="images/browse-icon-transparent.svg">
                                </div>
                                <div class="col-lg-6">
                                    <div style="text-align: center; line-height: 26px; color: white">
                                        Browse Floods
                                    </div>
                                </div>
                                <div class="col-lg-3 text-right">
                                    <button class="btn btn-arrow-white btn-primary-1 hide-browse-flood"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                        <div>
                        </div>
                        <div class="row" style="text-align: center">
                            <!--<div class="col-lg-3">-->
                                <!--<button class="btn btn-arrow btn-primary-1 pull-right btn-change-date" id="prev-date" disabled><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>-->
                            <!--</div>-->
                            <div id="calendar-flood-browser">
                                <input class="form-control datepicker-browse" value="Fetching list.." data-position="left bottom" type="text" id="date-browse-flood" readonly style="display: none">
                            </div>
                            <div id="date-legend">
                            </div>
                            <!--<div class="col-lg-3">-->
                                <!--<button class="btn btn-arrow btn-primary-1 pull-left btn-change-date" id="next-date" disabled><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>-->
                            <!--</div>-->
                        </div>
                        <!--<div class="row">-->
                            <!--<div class="col-lg-3">-->
                            <!--</div>-->
                            <!--<div class="col-lg-6 flood-info">-->
                            <!--</div>-->
                            <!--<div class="col-lg-3 browse-control-arrow-group">-->
                                <!--<button class="btn btn-arrow-small btn-primary-1 browse-arrow arrow-up" data-flood-id="" disabled><i class="fa fa-chevron-up" aria-hidden="true"></i></button><br/>-->
                                <!--<button class="btn btn-arrow-small btn-primary-1 browse-arrow arrow-down" data-flood-id="" disabled><i class="fa fa-chevron-down" aria-hidden="true"></i></button>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div id="panel-dashboard" style="display: none">
                <div id="status">
                    <div class="col-lg-2">
                        <button class="btn btn-arrow-white btn-back-summary-panel" data-region="" data-region-id="" style="display: none"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button></div>
                    <div class="col-lg-8">
                        <div class="status-wrapper">
                            <div>Trigger Status:</div>
                            <div id="action-status">-</div>
                        </div>
                    </div>
                    <div class="col-lg-2"><button class="btn btn-arrow-white pull-right download-spreadsheet" style="margin: 7px 0 !important;"><img src="images/download-icon-white.svg" style="height: 23px"></button></div>
                </div>
                <div id="flood-general-summary"></div>
                <div id="flood-sub-summary"></div>
            </div>

            <!-------------------------------- old side panel (filters), we might use later ---------------------------------------->
            <!--<div class="panel panel-default">-->
            <!--<div class="panel panel-default" id="filter-wrapper">-->
                <!--<a class="panel-heading collapsed" data-toggle="collapse" data-parent="#filter-wrapper" href="#all-filters">-->
                    <!--Filters</a>-->
                <!--<div id="all-filters" class="panel-collapse collapse">-->
                    <!--<div class="panel panel-option">-->
                        <!--<a class="panel-heading collapsed" data-toggle="collapse" data-parent="#filter-wrapper" href="#waterways-filter">-->
                            <!--Rivers</a>-->
                        <!--<div id="waterways-filter" class="panel-collapse collapse">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="panel panel-option">-->
                        <!--<a class="panel-heading collapsed" data-toggle="collapse" data-parent="#filter-wrapper" href="#buildings-filter">-->
                            <!--Buildings</a>-->
                        <!--<div id="buildings-filter" class="panel-collapse collapse">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="panel panel-option">-->
                        <!--<a class="panel-heading collapsed" data-toggle="collapse" data-parent="#filter-wrapper" href="#buliding-vulnerability">-->
                            <!--Buliding Vulnerability</a>-->
                        <!--<div id="buliding-vulnerability" class="panel-collapse collapse">-->
                            <!--<div class="inner-panel">-->
                                <!--<div>Building type</div>-->
                                <!--<input id="building-type-filter"/>-->
                            <!--</div>-->
                            <!--<div class="inner-panel">-->
                                <!--<div>Building material</div>-->
                                <!--<input id="building-material-filter"/>-->
                            <!--</div>-->
                            <!--<div class="inner-panel">-->
                                <!--<div>Building area</div>-->
                                <!--<input id="building-area-filter"/>-->
                            <!--</div>-->
                            <!--<div class="inner-panel">-->
                                <!--<div>Building road density</div>-->
                                <!--<input id="building-road-density-filter"/>-->
                            <!--</div>-->
                            <!--<div class="inner-panel">-->
                                <!--<div>Total Vulnerability</div>-->
                                <!--<input id="building-total-vulnerability-filter"/>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="panel panel-option">-->
                        <!--<a class="panel-heading collapsed" data-toggle="collapse" data-parent="#filter-wrapper" href="#roads-filter">-->
                            <!--Roads</a>-->
                        <!--<div id="roads-filter" class="panel-collapse collapse">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!------------------------------------------------------------------------------------------------>
        </div>
    </div>
    <div id="side-panel-footer">
        <div class="arrow-start">
            <span style="color: black; margin-right: 35px">Click here to get started </span><img src="images/arrow-green.svg">
        </div>
        <div class="browse-btn-icon">
            <div class="stage">
                <button class="box bounce-7 browse-floods">
                    <img src="images/browse-icon.svg">
                </button>
            </div>
        </div>
        <div>
            <span>Made with <i class="fa fa-heart"></i> by</span>
            <a href="https://kartoza.com/id/" target="_blank" style="font-weight: 900;">
                <img src="images/kartoza-logo.svg" height="100"> Kartoza
            </a>
        </div>
        <div>
            <span>Available in </span>
            <a href="https://github.com/kartoza/fbf-project/" target="_blank" style="color: #cc9c43">
                github</a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="row">
        <div class="col-lg-4 navbar-logo">
            <a href="http://inasafe.org/" target="_blank" style="font-weight: 900; color: white !important;">
                <img src="images/fbf-inasafe.svg" height="40">
            </a>
        </div>
        <div class="col-lg-4 pull-right" style="text-align: right; padding-right: 35px; padding-top: 7px">
            <button class="btn btn-warning btn-primary-1 add-flood-scenario"><img src="images/add-flood-icon.svg"><span>ADD FLOOD</span></button>
        </div>
    </div>
</nav>

<!-- Modal content-->
<div class="modal" id="fbf-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p class="modal-body-content"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>

<script type='text/template' id='-filter-multiselect'>
    <div class="inner-panel">
        <% if(options.length > 0) { %>
        <% _.each(options, function(option){ %>
        <% if(option['type'] && option['count']) { %>
        <input type="checkbox" value="<%= option['type_id'] %>" checked> <%= option['type'].capitalize() %> (<span data-type="<%= option['type_id'] %>"><%= option['count'] %></span>)<br>
        <% } %>
        <%}) %>
        <% } else { %>
        <i class="fa fa-circle-o-notch fa-spin"></i> <i class="loading">fetching list</i>
        <% } %>
    </div>
</script>

<script type="text/template" id="dashboard-template">
    <div class="panel-title" id="main-panel-header">
        Summary for Flood <%= flood_name %>
    </div>
    <div class="flood-summary-info">
        <table>
            <tr>
                <td>
                    Acquisition Date
                </td>
                <td>
                    <%= acquisition_date %>
                </td>
            </tr>
            <tr>
                <td>
                    Forecast Date
                </td>
                <td>
                    <%= forecast_date %>
                </td>
            </tr>
            <tr>
                <td>
                    Source
                </td>
                <td>
                    <%= source %>
                </td>
            </tr>
            <tr>
                <td>
                    Notes
                </td>
                <td>
                    <%= notes %>
                </td>
            </tr>
            <tr>
                <td>
                    Link
                </td>
                <td>
                    <%= link %>
                </td>
            </tr>
        </table>
    </div>
    <div id="chart-score-panel">
        <div class="col-lg-12">
            <div class="col-lg-5 box-vulnerability">
                <div id="vulnerability-score">-</div>
                <div class="subtext">Vulnerability Score Total</div>
            </div>
            <div class="col-lg-5 box-building">
                <div id="building-count">-</div>
                <div class="subtext">Buildings that could be affected</div>
            </div>
        </div>
        <div class="panel-chart" style="min-height: 250px">
            <canvas id="summary-chart"></canvas>
        </div>
    </div>
    <div id="region-summary-panel" style="border-top: 1px solid #ddd; padding-bottom: 35px">
        </div>
</script>

<script type="text/template" id="region-title-panel-template">
    <div class="panel-title">
        <%= region %> Summary
    </div>
</script>

<script type="text/template" id="region-summary-panel-template">
    <tr>
        <td class="text-center item-header" colspan="2">
            <button class="btn btn-arrow pull-right drilldown" data-region="<%= region %>" data-region-id="<%= id %>"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
            <%= name %>
        </td>
    </tr>
    <tr>
        <td class="box-count-left">
            <div class="box-count">
                <div class="score"><%= flooded_vulnerability_total %></div>
                <div class="subtext">Vulnerability Score Total</div>
            </div>
        </td>
        <td class="box-count-right">
            <div class="box-count">
                <div class="score"><%= flooded_building_count %></div>
                <div class="subtext">Buildings that could be affected</div>
            </div>
        </td>
    </tr>
</script>

<!--TODO: We need to fix this by just get the geojson -->
<!--<script type="text/javascript" src="http://159.69.44.205/data/IndonesiaBoundary_3.js"></script>-->

<!-- Correct javascripts-->
<script type="text/javascript" src="js/libs/require.js/2.3.6/require.min.js"></script>
<script type="text/javascript" src="js/shared.js"></script>
<script type="text/javascript" src="js/config.js"></script>
</html>
